:host {
  display: flex;
  min-height: 100%;
}
nav {
  width: 68px;
  background-color: #53ace4;
}
nav .icon {
  width: 48px;
  height: 48px;
  margin: 10px;
}
section {
  width: 100%;
  background-color: #32435b;
}
section > header {
  color: #ffffff;
  padding: 10px;
}
section > header > h1 {
  font-size: 2em;
}
section > header .description {
  font-style: italic;
}