<nav>
  <a (click)="getMediaItems('')">
    <img src="assets/04.png" class="icon" />
  </a>
  <a (click)="getMediaItems('Movies')">
    <img src="assets/03.png" class="icon" />
  </a>
  <a (click)="getMediaItems('Series')">
    <img src="assets/02.png" class="icon" />
  </a>
</nav>
<header 
    [ngClass]="{'medium-movies':medium === 'Movies', 'medium-series':medium === 'Series'}">
    <h2>{{medium}}</h2>
    <div *ngIf="mediaItems">{{ mediaItems | categoryList }}</div>
</header>
<section>
  <mw-media-item
    [ngClass]="{'medium-movies': mediaItem.medium==='Movies', 'medium-series':mediaItem.medium==='Series'}" 
    *ngFor="let mediaItem of mediaItems"
    [mediaItem]="mediaItem"
    (delete)="onMediaItemDelete($event)"></mw-media-item>
</section>