<header 
    [ngClass]="{'medium-movies':medium === 'Movies', 'medium-series':medium === 'Series'}">
    <h2>{{medium}}</h2>
    <mw-category-list 
      *ngIf="mediaItems"
      [categories]="mediaItems | categoryList">
    </mw-category-list>
</header>
<section>
  <mw-media-item
    [ngClass]="{'medium-movies': mediaItem.medium==='Movies', 'medium-series':mediaItem.medium==='Series'}" 
    *ngFor="let mediaItem of mediaItems"
    [mediaItem]="mediaItem"
    (delete)="onMediaItemDelete($event)"></mw-media-item>
</section>
<footer>
  <a routerLink="/add">
    <img src="assets/01.png" class="icon">
  </a>
</footer>